.login-section {
	display: grid;
	grid-template-columns: 5fr 6fr;
	grid-template-rows: 1fr;
	justify-items: center;
	align-items: center;
	background-color: #495e57;
}

.login-section > div:last-child {
	width: 100%;
	height: 100%;
	background-image: url("../assests/Rectangle 77.png");
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.login-form {
	width: 50%;
}

@media (max-width: 1024px) {
	.login-section {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		padding: 2pc 2pc;
		border-radius: 5px;
	}

	.login-section > div:first-child {
		display: none;
	}

	.login-section > div:last-child {
		background-image: none;
	}

	.login-form {
		width: 100%;
	}
}
