.cart {
	display: grid;
	grid-template-columns: 2fr 1fr;
	/* grid-template-rows: max-content 1fr; */
	/* justify-content: stretch; */
	gap: 2pc;
	margin-bottom: 2pc;
}
.cart > div:first-child {
	display: flex;
	flex-direction: column;
	gap: 1.5pc;
}

.cart-card {
	display: flex;
	flex-direction: row;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	row-gap: 2pc;
}

.cart > div:nth-child(3) {
	display: flex;
	flex-direction: column;
	gap: 1pc;
}
.cart-card .counter {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.cart-card > div:first-child {
	flex-basis: 30%;
}

.cart-card > div:last-child {
	flex-basis: 70%;
	display: grid;
	justify-content: space-between;
	align-content: space-around;
	margin: 0px 15px;
}

.cart-card > div:last-child > div:last-child {
	grid-column: span 2;
}

.cart-card > .cart-img-container {
	height: 200px;
	overflow: hidden;
}

.cart-card > div > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.order-summary {
	background-color: white;
	/* box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25); */
}

.order-summary > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2pc 0px;
	margin: 0px 1pc;
	border-bottom: 1px solid #d9d9d9;
}

.order-summary .cart-img-container {
	width: 60px;
	height: 60px;
	overflow: hidden;
	border-radius: 5px;
}

.order-summary img {
	height: 100%;
	object-fit: cover;
}

@media (max-width: 1024px) {
	.cart {
		grid-template-columns: 1fr;
	}
	.cart > div:nth-child(2) {
		grid-row-start: 3;
	}
}
